/**********************************************************************************************************************/
/* BoneInspectorPanel                                                                                                         */
/**********************************************************************************************************************/

#BoneInspectorPanel {
  height : 80;
}
