/**********************************************************************************************************************/
/* CopyToolbar                                                                                                         */
/**********************************************************************************************************************/

#CopyImage {
    image: resource("Icons/CopyIcon");
}

#PasteImage {
    image: resource("Icons/PasteIcon");
}
