/**********************************************************************************************************************/
/* WeightInspectorIMGUIPanel                                                                                                         */
/**********************************************************************************************************************/

#WeightInspectorIMGUIPanel {
  flex-direction: column;
  height: 120;
}

#WeightInspectorIMGUIPanel IMGUIContainer {
}
